

/* -------------------------------------- Contact------------------------- */
 .ContactForm h1 {
  border-bottom: 2px solid $mainPurple;
  padding: 10px 10px 5px 0;
}


.ContactForm{
  width: 100%;
}

.form input, .form textarea {
  width: 100%;
  border: 1px solid black;
  padding: 10px;
  margin-top: 10px;
  box-sizing: border-box;
}

.form input:focus, .form textarea:focus  {
  border: 2px solid $mainPurple;
}

.form textarea {
  height: 150px;
}

.form--submit{
  background-color: white;
  border: 3px solid black !important;
  &:hover{
    background-color: $mainPurple;
    color: white;
    border: 3px solid $mainPurple !important;
    cursor: pointer;

  }
}


@media only screen and (max-width: 900px) {
      .Contact {
        display: grid;
        grid-template-columns:5% 1fr 5%;
        margin-top: 20px;
      }

      .ContactForm{
        grid-column: 2/3;
        margin: auto;
      }

     .ContactForm{
       margin-bottom: 300px;
     }
}

@media only screen and (min-width: 900px) {
   .Contact {
     display: grid;
     grid-template-columns:20%  60% 20%;
     margin-top: 20px;
   }

   .ContactForm{
     grid-column: 2/3;
     margin:  0;
   }

}
