* {
  margin: 0;
  padding: 0;
}

body{
  background-color: $mainBackground;
  position: relative;
}

.Layout{
  position: relative;
  min-height: 100vh;
}

h1,h2,h3,h4, button, a, input::placeholder, textarea::placeholder{
  font-family: 'Open Sans', sans-serif;
}

p {
  font-family: 'Lora', serif;
  line-height:25px;
  font-size: 1em;
}

.HomeHero p {
  font-family: 'Open Sans', sans-serif;
}

h1, h2 {
  border-bottom: 2px solid $mainPurple;
  padding: 10px 10px 5px 0;
}
