* {
  margin: 0;
  padding: 0;
}

body{
  position: relative;
  height: 1vw;
}


h1,h2,h3,h4, button, a{
    font-family: 'Open Sans', sans-serif;
}

p {

  font-family: 'Lora', serif;
}


.HomeHero p {
      font-family: 'Open Sans', sans-serif;
}
