/* ------------------------------- HomeContent  ---------------------------------*/


.HomeHero{
background-image: url('./../../images/forscreen.jpg');
background-size: cover;
display: grid;
 p{
   color: white;
   margin: auto;
  }
}


.gradient-text{
  background: rgb(133,0,228);
  background: linear-gradient(90deg, rgba(133,0,228,1) 0%, rgba(204,133,230,1) 100%);
  border-radius: 10px;
}


@media only screen and (max-width: 800px){
  .HomeHero{
    height: 250px;
    grid-template-columns: 10% 1fr 10%;
    grid-row: 1fr 60px 60px 60px 1fr;
    font-size: 2em;
  }
  .p1, .p2, .p3{
    grid-column: 2/3;
  }
  .p1 {
    grid-row: 2/3;
  }

  .p2 {
    grid-row: 3/4;
  }
  .p3 {
    grid-row: 4/5;
  }
  .gradient-text{
      padding: 5px;
  }


}

@media only screen and (min-width: 800px){
   .HomeHero{
     height: 500px;
     grid-template-columns: 1fr 1fr;
     grid-template-rows: auto 100px 100px 100px auto auto;
     p{
       font-size: 3em;
     }
   }
   .p1, .p2, .p3{
     grid-column: 1/2;
   }
   .p1 {
     grid-row: 2/3;
   }

   .p2 {
     grid-row: 3/4;
   }
   .p3 {
     grid-row: 4/5;
   }
   .gradient-text{
       padding: 10px;
   }
}




/* ---------------------------------- HomeProjects --------------------------------*/

/* this needs to be mobile first */
.HomeProjects {
  width: 70%;
  margin-left: 15%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: 300px;
  margin-top: 50px;
}


.project {
  width: 80%;
  color: white;
  height: 200px;
  border-radius: 10px;
  background-size: cover;
  margin: auto;
 .overlay {
   background-color: rgba(0,0, 0, 0.7);
   border-radius: 10px;
  p {
    margin:  auto;
  }
 }
}


.project button {
  width: 100%;
  padding: 20px;
  border-radius: 0 0 10px 10px;
  margin-top: 150px;
}
