*{
  box-sizing: border-box;
}



@media only screen and (max-width: 1000px){
  .detail{
      width: 90%;
      margin-left: 5%;
      &--links{
        grid-template-columns: 1fr;
      }
      &--link{
        width: 100%;
        margin-top: 20px;
        padding: 5px;
      }
  }
}

@media only screen and (min-width: 1000px){
  .detail{
      width: 60%;
      margin-left: 20%;
      &--links{
        grid-template-columns: 1fr 1fr;
        margin-top: 20px;
      }
      &--link{
        width: 70%;
      }
  }
}



.detail{
  display: grid;
  h1{
    margin-top: 20px;
  }
  img{
    width: 100%;
    margin: 30px 0 0 0;
    border: 1px solid black;
  }
  p{
    margin-top: 20px;
  }
  h3{
    border-left: 3px solid $mainPurple;
    padding-left: 10px;
    margin-top: 30px;
  }
  &--links{
    display: grid;
  }
  &--link{
    color: black;
    border: 2px solid black;
    text-align: center;
    text-decoration: none;
    padding: 5px;
    font-size: 1.1em;
    &:hover{
      background-color: $mainPurple;
      border: 2px solid $mainPurple;
      cursor: pointer;
      color: white;
    }
  }
  &--stats{
    display: grid;
    grid-template-columns: auto auto;
    font-size: 30px;
    margin: 20px 0;
    &__mainTool {
      border-left: 5px solid $mainPurple;
      padding-left: 20px;
    }
    &__hrs{
      padding-right: 20px;
    }
  }
  ul {
    margin-left: 30px;
    margin-top: 10px;
    margin-bottom: 100px;
    li{
      margin-top: 10px;
    }
  }
}
